nav {
    background-image: url('../../assets/images/head.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    // width: 53%;
    // margin: auto;
    // border-radius: 30px;
}
