<nav
  class="sticky top-2 z-10 shadow-xl cursor-pointer bg-[#186ec4] bg-[linear-gradient(90deg,rgba(24,110,196,1)_0%,rgba(30,41,59,1)_50%)] dark:bg-gray-900 start-0 dark:border-gray-600 p-10 max-sm:p-4 w-[90%] max-sm:w-full max-sm:rounded-none max-sm:top-0 flex m-auto rounded-full"
>


  <div
    class="container flex flex-wrap items-center justify-between md:mx-[150px]"
  >
    <div routerLink="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <h5 class="font-bold text-gray-50">MUHAJIR AHMAD</h5>
    </div>
    <div
      class="flex items-center gap-4 space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse"
    >
      <!-- <div class="text-lg text-gray-100 dark:text-black">Dark Mode</div> -->
      <div class="" (click)="toggleDarkMode()">
        <!-- <label class="flex items-center cursor-pointer"> -->
        <!-- <input
            type="checkbox"
            [(ngModel)]="service.dark_mode"
            (click)="toggleDarkMode()"
            class="sr-only peer"
          /> -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-white cursor-pointer"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
          />
        </svg>

        <!-- <div
            class="relative dark:invert w-11 h-6 bg-gray-200 peer-focus:outline-none dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-800 peer-checked:bg-gray-500"
          ></div> -->
        <!-- </label> -->
      </div>
      <!-- <button
        (click)="service.gotobottom3()"
        type="button"
        class="flex items-center gap-2 px-4 py-2 text-sm font-medium text-center text-white rounded-lg shadow-lg max-sm:hidden bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 me-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          />
        </svg>

        Contact Me
      </button> -->
      <button
        (click)="toggleNavbar()"
        type="button"
        class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        [attr.aria-expanded]="isNavbarOpen ? 'true' : 'false'"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      [ngClass]="{
        'max-h-screen opacity-100 py-3': isNavbarOpen,
        'max-h-0 opacity-0 overflow-hidden': !isNavbarOpen
      }"
      class="transition-all duration-500 ease-in-out items-center justify-between w-full md:flex md:w-auto md:order-1 md:max-h-none md:opacity-100"
      id="navbar-default"
    >
      <ul
        class="flex flex-col p-3 font-medium rounded-lg md:p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            (click)="closeNavbar(); service.gotobottom1()"
            class="block px-3 py-2 text-gray-50 md:hover:text-red-500 md:p-0"
            >Home</a
          >
        </li>
        <li>
          <a
            (click)="closeNavbar(); service.gotobottom2()"
            class="block px-3 py-2 text-gray-50 md:hover:text-red-500 md:p-0"
            >About</a
          >
        </li>
        <li>
          <a
            (click)="closeNavbar(); service.gotobottom3()"
            class="block px-3 py-2 text-gray-50 md:hover:text-red-500 md:p-0"
            >Projects</a
          >
        </li>

        <li>
          <a
            (click)="closeNavbar(); service.gotobottom4()"
            class="block px-3 py-2 text-gray-50 md:hover:text-red-500 md:p-0"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
