// .section-one {
//     // background-image: url('assets/images/b.png');
//     background-color: black;
//     // background-size: cover !important;
//     // background-repeat: no-repeat !important;
//     // height: calc(116vh - 50px);
// }

// .section-two {
//     background-color: black;

//     // height: calc(103vh - 45px);

// }

// .section-three {
//     background-image: url('../../assets/images/head.png');
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
// }

.section-four {
    // background-image: url('../../assets/images/head.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 75vh
}

// .section-five {
//     background-image: url('../../assets/images/head.png');
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     height: 83vh;
// }

// .section-f {
//     background-image: url('../../assets/images/head.png');
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     height: 83vh;
// }





