.section-one {
    // background-image: url('assets/images/b.png');
    background-image: url('../../assets/images/b.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    // height: calc(116vh - 50px);
}
.section-two {
    background-image: url('../../assets/images/a.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 83vh;
    // height: calc(103vh - 45px);

}
.section-three{
    background-image: url('../../assets/images/c.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.section-four{
    background-image: url('../../assets/images/d.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 75vh
}
.section-five{
    background-image: url('../../assets/images/contact 1.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 83vh;
}
