// .section-three {
//     background-image: url('../../assets/images/c.png');
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     height: 83vh;
// }

// .section-four {
//     background-image: url('../../assets/images/d.png');
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     height: 75vh
// }

// .section-five {
//     background-image: url('../../assets/images/contact 1.png');
//     background-size: cover !important;
//     background-repeat: no-repeat !important;
//     height: 83vh;
// }

// .section-f {
//     height: auto;
//     position: relative;
//     overflow: hidden;
// }

// .responsive-video {
//     width: 100%;
//     height: auto;
//     min-width: 100%;
//     min-height: 100%;
//     // position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1; /* Ensure the video is behind other content */
// }

// .slides {
//     overflow-x: auto;
//     white-space: nowrap;
//     padding: 0;
//     margin: 0;
//     display: flex;
// }

// .slide {
//     flex: 0 0 auto;
//     width: 70vw; /* Adjust this value according to your design */
//     margin-right: 1rem; /* Adjust spacing between slides */
// }

// .slide > img {
//     width: 100%;
//     height: auto;
//     object-fit: cover;
// }

// .slide + .slide {
//     margin-left: 0; /* No margin between slides */
// }

// @media screen and (min-width: 640px) {
//     .slide {
//         width: 36vmin; /* Original width for larger screens */
//         margin-right: 1rem; /* Original margin between slides */
//     }
// }
.card {
  background-color: rgb(51 65 85);
  height: 430px;
  color: rgb(243 244 246);
}
