<div class="section-one w-full max-sm:p-4" id="home">
  <app-skills-bg></app-skills-bg>
  <app-hero></app-hero>
</div>

<div class="section-two w-full max-sm:p-4 mt-10 max-sm:mt-6" id="about">
  <app-about></app-about>
</div>

<div class="section-three w-full max-sm:p-4 mt-10 max-sm:mt-6" id="project">
  <app-projects></app-projects>
</div>

<div class="section-four w-full max-sm:p-4 mt-10 max-sm:mt-6">
  <app-do></app-do>
</div>

<div class="section-five mt-10 max-sm:mt-6 max-sm:p-4">
  <app-skills></app-skills>
</div>

<div id="sec4" class="section-six max-sm:p-4 mt-20 max-sm:mt-6 w-[100vw] flex justify-center h-auto max-sm:mb-10">
  <app-contact></app-contact>
</div>
